<!-- BEGIN: page -->
<html>
    <head>
        <title>Активация учётной записи</title>
        <meta charset="UTF-8">
    </head>
    <body>
        <p>Здравствуйте, {name}!</p>
        <p>Вы успешно зарегистрировались на сайте <a href="http://dev.zhirov.su/">zhirov.su</a>!</p>
        <p>Для того, чтобы пользоваться учётной записью, её необходимо активировать перейдя по
            <a href="http://dev.zhirov.su/activation/{login}/{activation}">этой</a> ссылке.</p>
        <p>Если у вас возникли проблемы, Вы можете ответить на это письмо.</p>
    </body>
</html>
<!-- END: page -->