<!-- BEGIN: recoverypassword -->
<section class="top">	
    <div class="wrapper content_header clearfix">
        <h1 class="title">Восстановление пароля</h1>
    </div>		
</section>

<section class="wrapper">
    <div class="content">
        <!-- BEGIN: errors -->
        <span class="errors">{errors}</span><br>
        <!-- END: errors -->
        <form action="" method="post">
            <div>
                <label for="login">Введите логин или E-mail:</label>
                <input type="text" name="logmail" id="login" value="{logmail}">
            </div>
            <div>
                <input type="submit" name="submit" value="Восстановить">
            </div>
        </form>
    </div>
</section>
<!-- END: recoverypassword -->